#wrapper-canvas canvas{
    max-width:100%;
}
.pointer-events-none {
    pointer-events: none !important;
}
.blurred-bg {
    filter: blur(5px);
}
.no-pointer-events {
    pointer-events: none;
}
.no-scroll {
  overflow: hidden;
}
@keyframes slideright {
    0% {
      transform: translateX(50px);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }

  /* Apply animation */
  .animate-slide-right {
    animation: slideright 1s ease-out;
  }
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 2s ease-in-out;
  }



/* Swiper Slide */
.swiper-slide { /* Full width of the container */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Swiper Navigation Buttons */
.loader {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Centering content on click with margin adjustment */
section {
  transition: margin-top 0.3s ease-in-out;
}

.nav-link {
  transition: color 0.3s ease-in-out;
}

.nav-link:hover
{
  color: #9b5de5; /* Tailwind's purple-500 color */
}
/* Hide scrollbar when mobile menu is open */
.overflow-hidden {
  overflow: hidden;
}

.service-card.clicked {
  transform: scale(1.1);
  box-shadow: 0 0 25px rgba(128, 0, 128, 0.8); /* Purple glow on click */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Swiper Navigation Buttons */
.swiper-button-next, .swiper-button-prev {
  color: #9b5de5; /* Tailwind's purple-500 color */
}